{% extends 'layout.html'%}
{% block body %}
<div class="container " xmlns="http://www.w3.org/1999/html">
    {% if ok == 1 %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <strong>Los {{num}} vehiculos {{vehi}}</strong> se cargaron  a MONGOdb ATLAS satisfactoriamente. Puedes verlos dando click en el menu Data in Mongo
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}
        <h4 class="text center">Autos Usados {{vehi}}</h4>
        <hr>
        <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for dic in dics %}
            <div class="col">
                <div class="card rounded" style="width: 18rem;">
                  <img src="{{dics[dic].imagen}}"/>
                  <div class="card-body">
                    <h5 class="card-title">{{dics[dic].marca}} {{dics[dic].modelo}}</h5>
                    <p class="card-text"><span class="border border-secondary rounded px-1">{{dics[dic].anio}}</span> {{dics[dic].kilometraje}} Kms.</p>
                      <p>Precio<br>${{dics[dic].precio}}</p>
                    <a href="#" class="btn btn-primary">Compralo Ya!!</a>
                  </div>
                </div>
            </div>
        {% endfor %}
        </div>

        <hr>
        <form action="/guarda_vehiculo" method="post">
            <input type="hidden" class="form-control" id="marca"  name="marca" value="{{vehi}}" >
            <input type="hidden" class="form-control" id="numero"  name="numero" value="{{num}}" >
            <button type="submit" class="btn btn-primary">Cargar</button>
        </form>

</div>
{% endblock %}