{% extends 'layout.html'%}
{% block body %}
<div class="container">
    <h1>VEHICULOS CARGADOS EN MONGODB ATLAS</h1>

    <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for docu in vehi %}
        <div class="col">
                <div class="card rounded" style="width: 18rem;">
                  <img src="{{docu['imagen']}}"/>
                  <div class="card-body">
                    <h5 class="card-title">{{docu["marca"]}} {{docu["modelo"]}}</h5>
                    <p class="card-text"><span class="border border-secondary rounded px-1">{{docu["anio"]}}</span> {{docu["kilometraje"]}} Kms.</p>
                      <p>Precio<br>${{docu["precio"]}}</p>
                    <a href="#" class="btn btn-primary">Compralo Ya!!</a>
                  </div>
                </div>
            </div>
    {% endfor %}
    </div>
</div>

{% endblock %}